*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    display: grid;
    padding: 4rem;
    gap: 2rem;
    grid-template-areas: 
        "item1 item1 item1"
        "item2 item3 item3"
        "item4 item4 item4"
    ;
}

.item{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: fantasy;
}

.item1{
    background-color: red;
    grid-area: item1;
}

.item2{
    background-color: orangered;
    grid-area: item2;
}

.item3{
    background-color: rgb(5, 90, 82);
    grid-area: item3;
}

.item4{
    background-color: rgb(14, 163, 148);
    grid-area: item4;
}
