@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-color: #5b2eff;
    --secondary-color: #22c55e;
    --bg-color: #F9FAFB;
    --surface-color: #FFFFFf;
    --text-color:  #111827;
    --muted-text-color: #6B7280;
    --border-color:  #E5E7EB;
    --primary-font: "Space Grotesk", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

a{
    text-decoration: none;
}

.container{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

.nav-container{
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.nav-bar{
    width: 85%;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-heading{
    font-family: var(--primary-font);
    font-weight: 800;
    color: var(--text-color);
    font-size: 2.5rem;
}

.logo-img{
    height: 2.5rem;
    width: 2.5rem;
    image-rendering: crisp-edges;
    transition: all 0.7s;
}

.logo-img:hover {
    transform: rotateZ(360deg);
}

@media screen and (max-width:476px){
    .nav-bar{
        padding-left: .5rem;
    }
    .logo-link{
        justify-content: flex-start;
        gap: 0.2rem;
    }
    .logo-heading{
        font-size: 1.8rem;
    }

    .logo-img{
        height: 1.8rem;
        width: 1.8rem;
    }
}

.nav-links{
    display: none;
}

@media screen and (min-width:1000px) {
    .nav-links{
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 2.135rem;
    }
}

.nav-links a{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--muted-text-color);
    transition: all;
    transition-duration: 0.2s;
}

.nav-links a:hover{
    color: var(--primary-color);
}

.nav-links a:focus-visible{
    color: var(--primary-color);
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}

.contact-container{
    display: none;
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    padding: 0.8rem 1.2rem;
    transition: all;
    transition-duration: 0.2s;
}

@media screen and (min-width:1000px) {
    .contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-container:hover{
    background-color:#8464f6;
}

.contact-container a{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
    color: var(--surface-color);
}

.menu-button{
    background-color: var(--surface-color);
    border: none;
    padding: 2px;
    display: none;
}

@media screen and (max-width:1000px) {
    .menu-button{
        display: block;
    }
}

.hero-container{
    display: flex;
    justify-content: center;
    padding: 2.5rem 3rem;
}

.hero-section{
    width: 95%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 964px) {
    .hero-section{
        width: 85%;
        flex-direction: row;
        justify-content: space-between;
        gap: 4.5rem;
    }
}

.hero-left-content-container{
    animation: slideFromLeft 1s ease forwards;
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    font-family: var(--secondary-font);
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-left-content-container h1{
    color: var(--text-color);
    font-size: 3.5rem;
}

@media screen and (max-width:964px) {
    .hero-left-content-container h1{
        font-size: 2.5rem;
    }
}

.hero-left-bottom-line{
    max-width: 85%;
    color: var(--muted-text-color);
    font-weight: 500;
}

.hero-left-top-line{
    color: var(--primary-color);
    font-weight: 600;
}

.hero-right-content-container{
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media screen and (max-width: 964px) {
    .hero-left-content-container, .hero-right-content-container{
        width: 100%;
    }

    .hero-left-content-container{
        text-align: center;
    }

    .hero-right-content-container{
        height: 100%;
    }
}

.hero-button-container{
    text-align: center;
    width: 60%;
    display: flex;
    margin-top: 2rem;
    gap: 1.3rem;
}

.hero-button-container a{
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--bg-color);
    border: none;
    padding: 0.9rem 1.7rem;
    border-radius: 5px;
}

@media screen and (max-width: 964px) {
    .hero-left-content-container{
        align-items: center;
    }
    .hero-button-container{
        justify-content: center;
    }
}

.start-now-button{
    background-color: var(--primary-color);
    transition: all;
    transition-duration: 0.3s;
}

.start-now-button:hover{
    background-color:#8464f6;
}


.take-tour-button{
    background-color: var(--text-color);
    transition: all;
    transition-duration: 0.3s;
}

.take-tour-button:hover{
    background-color:#56545b;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.mini-hero-container{
    margin-top: 1.5rem;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideFromLeft 1s ease forwards;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.mini-hero-container-title{
    font-size: 1.7rem;
    font-weight: 700;
}

.mini-hero-links-container{
    margin-top: 1.5rem;
    font-weight: 600;
    color: #9da4b0;
    background-color: #ededed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    padding: 0rem 1rem;
}

@media screen and (min-width:768px) {
    .mini-hero-links-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

.mini-hero-link{
    justify-self: center;
    padding: 2rem;
    display: flex;
    gap: 0.3rem;
}

.mini-hero-link img{
    width: 1.2rem;
    height: 1.2rem;
}

.card-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: #ededed;
    font-family: var(--secondary-font);
}

.card-section-content-container{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section-title{
    color: var(--text-color);
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
}

.card-section-desc{
    width: 70%;
    color: var(--muted-text-color);
    margin: 2rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0rem 5rem;
}

@media screen and (max-width : 850px) {
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

.learning{
    background-color: #3979d2;
}

.affordability{
    background-color: #fe4d74;
}

.partnerships{
    background-color: #faad4a;
}

.technology{
    background-color: #35adb0;
}

.support{
    background-color: #609c4b;
}

.insights{
    background-color: #66619a;
}

.card{
    color: var(--surface-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
}


.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--surface-color);
    border-radius: 30px;
}

.card-img img{
    width: 1.2rem;
    height: 1.2rem;
}

.testimonial-section{
    margin: 3rem 0;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.test-heading{
    font-size: 1.8rem;
    font-weight: 700;
}

.test-card-container{
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
}

.testimonial-text{
    font-size: 0.8rem;
    color: var(--muted-text-color);
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: var(--surface-color);
    border: 2px solid rgb(232, 230, 230);
    border-radius: 8px;
    transition: all 0.3s;
}

.testimonial-card:hover{
    scale: 1.03;
    border-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.testimonial-name{
    margin-top: 0.5rem;
    color: var(--primary-color);
}

.testimonial-desig{
    margin-top: 0.2rem;
    color: var(--muted-text-color);
    font-size: 0.8rem;
}

.testimonial-img{
    width: 4rem;
    height: 4rem;
}

.newsletter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.newsletter-section{
    background-color: #f1f0f0;
    font-family: var(--secondary-font);
    text-align: left;
    max-width: 80%;
    display: flex;
    border-radius: 7px;
    overflow: hidden;
}

.newsletter-left-container{
    width: 50%;
}

.newsletter-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsletter-right-container {
    width: 50%;
    padding: 7rem 4rem 4rem 4rem;
    color: var(--muted-text-color);
}

@media screen and (max-width:768px) {
    .newsletter-container{
        margin: 2rem 0;
    }
    .newsletter-section{
        flex-direction: column;
    }

    .newsletter-left-container, .newsletter-right-container{
        width: 100%;
    }

    .newsletter-right-container{
        padding-top: 2rem;
        font-size: small;
    }
}

.newsletter-heading{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.newsletter-top-line {
    font-weight: 600;
    margin-bottom: 1rem;
}

.newsletter-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.newsletter-input-box {
    padding: 0.7rem;
    font-weight: 600;
    height: max-content;
    border: none;
    border-radius: 5px;
}

.newsletter-input-box:focus{
    border-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.newsletter-send-button{
    font-weight: 600;
    padding: 0.7rem 1.2rem;
    border: none;
    color: var(--surface-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.newsletter-send-button:hover{
    background-color:#8464f6;
}

.newsletter-bottom-line{
    margin-top: 1rem;
    font-size: 0.8rem;
}

.newsletter-bottom-line a{
    text-decoration: underline;
}

@media screen and (max-width:476px){
    .newsletter-left-container{
        display: none;
    }
    .newsletter-right-container{
        padding: 2rem;
    }

    .newsletter-heading{
        font-size: 1.8rem;
    }

    .newsletter-input-box{
        width: 100px;
    }
}

.footer-container{
    padding: 3rem 12rem 0 12rem;
    color: var(--muted-text-color);
    font-family: var(--secondary-font);
    gap: 3rem;
}

.footer-top{
    display: flex;
    flex-direction: row;
}

.footer-left-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
}

.footer-logo{
    display: flex;
}

.footer-logo-link{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer-logo-heading{
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

.footer-logo-img{
    width: 1.5rem;
    height: 1.5rem;
}

.footer-motto-line{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footer-social-link{
    margin: 0 1rem 0 0;
}

.footer-social-link img{
    height: 1.4rem;
    width: 1.4rem;
}

.footer-right-container{
    width:65%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

@media screen and (max-width:1065px){
    .footer-container{
        padding: 3rem;
    }

    .footer-top{
        flex-direction: column;
        padding-left: 2rem; 
        gap: 3rem;
    }

    .footer-left-container, .footer-right-container{
        width: 100%;
    }

    .footer-left-container{
        text-align: center;
    }

    .footer-logo{
        transform: translateX(-1rem);
        justify-content: center;
    }
}

@media screen and (max-width: 576px){
    .footer-container{
        padding: 1rem;
    }

    .footer-right-container{
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 430px){
    .footer-container{
        padding: 0rem;
    }

    .footer-right-container{
        gap: 0.5rem;
    }

    .link-list li{
        font-size: 0.7rem;
    }
}



.link-list ul{
    color: #a6a8ab;
    font-weight: 600;
    font-size: 0.85rem;
    list-style: none;
}

.link-list a{
    color: #a6a8ab;
}

.link-list li{
    margin-bottom: 1.8rem;
}

.link-list h4{
    font-size: 1rem;
    color: #32405d;
}

.footer-bottom {
    margin-top: 2rem;
    border-top: 2px solid #ededed;
    color: #bab9b9;
    font-weight: 550;
    font-size: 0.8rem;
    padding: 1.5rem 0 2.5rem 0;
}


