*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 13, 71);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.countdown-container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 2rem;
    border: 0.2px solid white;
    box-shadow: 0px 0px 50px rgb(105, 5, 198);
    background-color: rgb(71, 54, 122);
    border-radius: 8px;
}

#countdown-heading{
    margin: 0.5rem 0rem 0rem 0.7rem;
    width: fit-content;
    font-size: 2.3rem;
}

#countdown{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
}

.countdown-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.countdown-timer{
    font-weight: 550;
    font-size: 2rem;
    text-align: center;
    border-radius: 8px;
    padding: 2rem;
    background-color: rgb(54, 22, 105);
    margin-bottom: 0.5rem;
}

#progress-heading{
    margin: 0rem 0rem 0rem 0.5rem;
    width: fit-content;
}

.progress-bar-container{
    margin-top: 1.5rem;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    overflow: hidden;
}

#progress-bar{
    background-color: rgb(61, 164, 208);
    border-radius: 3px;
    width: 0%;
    height: 100%;
    transition: width 1s linear;
}

.set-timer-container{
    border: 2px solid white;
    margin-right: 5rem;
    padding: 2rem;
    border: 0.2px solid rgb(162, 160, 160);
    box-shadow: 0px 0px 20px rgb(105, 5, 198);
    background-color: rgb(71, 54, 122);
    border-radius: 8px;
}

.set-timer-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.set-timer-form input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1rem;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    font-size: 0.9rem;
}

#start-timer-button{
    margin: 0;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 114, 173);
    padding: 1rem;
    font-size: 1.2rem;
}


