*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    display: grid;
    padding: 4rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.item{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item6{
    width: 47.5%;
    justify-self: start;
    grid-column-start: 3;
    grid-column-end: 5;
}

.item7{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item10{
    width: 47.5%;
    justify-self: start;
    grid-column-start: 3;
    grid-column-end: 5;
}

.item11{
    grid-column-start: 1;
    grid-column-end: 4;
}