*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.item{
    justify-self: stretch;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 2.5rem;
}

#item1{
    background-color: red;
}

#item2{
    background-color: rgb(255, 81, 0);
}

#item3{
    background-color: rgb(255, 149, 0);
}

#item4{
    background-color: rgb(0, 122, 67);
}

#item5{
    background-color: rgb(0, 202, 111);
}

#item6{
    background-color: rgb(58, 243, 160);
}