*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-color: rgb(220, 240, 245);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(160, 179, 213);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    width: 30%;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 2rem;
}

@media (max-width: 1100px) {
    .container{
        height: 50%;
        padding: 1.5rem;
    }
}

.display-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    font-size: 2.2rem;
    color: white;
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    height: 25%;    
}

.calculator-buttons-container{
    display: grid;
    height: 70%;
    gap: 1rem;
    grid-template-areas: 
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six plus"
        "one two three plus"
        "zero delete decimal equal"
    ;
}

.calc-button{
    background-color: rgb(223, 243, 244);
    color: rgb(96, 94, 94);
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: background-color 0.3s ease;
}

.calc-button:hover{
    background-color: rgb(185, 214, 229);
}

.clear{
    background-color: rgb(247, 123, 123);
    color: white;
    grid-area: clear;
}

.divide{
    grid-area: divide;
}

.multiply{
    grid-area: multiply;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.plus{
    grid-area: plus;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.zero{
    grid-area: zero;
}

.delete{
    grid-area: delete;
}

.decimal{
    grid-area: decimal;
}

.equal{
    grid-area: equal;
}