*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    display: grid;
    padding: 4rem;
    gap: 2rem;

    /* this is much better in this case */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* this creates a single big grid area element. To make 18 small elements, we need to define 18 different grid areas */
    /* grid-template-areas: 
        "item item item item item item"
        "item item item item item item"
        "item item item item item item"
    ; */
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    /* grid-area: item; */
}