*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b53e97;
    background: linear-gradient(90deg, rgba(181, 62, 151, 1) 0%, rgba(9, 9, 121, 1) 52%, rgba(0, 212, 255, 1) 100%);
}

.card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(245, 245, 248, 0.247);
    padding: 25px;
    gap: 15px;
    box-shadow: 2px 2px 20px black;
    transition: all;
    transition-duration: 0.2s;
}

@media (max-width: 650px) and (min-width: 450px) {
    .card{
        max-width: 60%;
    }
}

@media (max-width: 450px) {
    .card{
        max-width: 70%;
    }
}

.card:hover{
    scale: 1.05;
    background-color: rgba(245, 245, 248, 0.315);
}

.card h1{
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card p{
    font-size: 1.1rem;
    font-family:monospace;
}
.card img{
    width: 100%;
    border-radius: 10px;
}