*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79%);
}

.card{
    width: 50%;
    height: 60%;
    background-color: rgb(84, 0, 84);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgb(1, 45, 60);
}

.left-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    color:antiquewhite;
}

.left-box h1{
    font-size: 35px;
}

.left-low {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.left-low h2{
        font-size: 25px;
}

.right-box{
    width: 50%;
    background-image: url("right-img.jpg");
    background-size: cover;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@media (max-width: 1133px){
    .left-box h1{
        font-size: 25px;
    }

    .left-low h2{
        font-size: 20px;
    }
}

@media (max-width: 933px){
    .left-box h1{
        font-size: 20px;
    }

    .left-low h2{
        font-size: 15px;
    }

    .left-low p{
        font-size: 10px;
    }
}

@media (max-width: 850px){
    .card{
        flex-direction: column-reverse;
        height: 60%;
        width: 50%;
    }

    .left-box{
        width: 100%;
        height: 50%;
        padding: 30px;
    }

    .right-box{
        width: 100%;
        height: 50%;
    }

}

@media (max-width: 600px){
    .left-box{
        padding:20px;
    }
}

@media (max-width: 445px){
    .card{
        width: 70%;
    }
    .left-box{
        padding:5px;
    }
}

@media (max-width: 385px){
    .left-box h1{
        font-size: 16px;
    }
    
    .left-box p{
        font-size: 10px;
    }

    .left-low h2{
        font-size: 10px;
    }

    .left-low p{
        font-size: 8px;
    }
}