*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    padding: 2rem;
    display: grid;
    gap: 2rem;

    grid-template-areas: 
        "item1 item1 item2"
        "item3 item4 item2"
    ;
}

.item{
    justify-self: stretch;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 2.5rem;
}

.item1{
    background-color: red;
    grid-area: item1;
}

.item2{
    background-color: orangered;
    grid-area: item2;
}

.item3{
    background-color: rgb(3, 101, 72);
    grid-area: item3;
}

.item4{
    background-color: rgb(5, 154, 127);
    grid-area: item4;
}
