*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    display: grid;
    padding: 4rem;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item1, .item2, .item3{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3{
    grid-row-start: 2;
    grid-row-end: 4;
}

.item4{
    border: 5px solid black;
    padding: 1rem;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.item4-1, .item4-2, .item4-3{
    justify-self: stretch;
    border: 3px solid rgb(52, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item4-1{
    grid-column-start: 1;
    grid-column-end: 3;
}

