*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    display: grid;
    padding: 4rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: fantasy;
}

.item1{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2{
    background-color: orangered;
}

.item3{
    background-color: rgb(5, 90, 82);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4{
    background-color: rgb(14, 163, 148);
    grid-column-start: 1;
    grid-column-end: 4;
}
