*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 80%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.778);
    box-shadow: 2px 2px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 70%;
}

.card img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 30%;
}
.pricing{
    display: flex;
    justify-content: space-between;
    background-color: rgb(110, 175, 154);
    width: 70%;
    border-radius: 10px;
}

.left-box{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px;
}

.left-box img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.left-box-text{
    display: flex;
    flex-direction: column;
}

.left-box-text p{
    font-size: 14px;
}
.right-box{
    display: flex;
    align-items: center;
    margin: 15px;
}

.container button {
    background-color: rgb(6, 10, 80);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    color: white;
    transition: all;
    transition-duration: 0.2s;
}

.container button:hover{
    scale: 1.05;
}

.cancel-box a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 850px) {
    .pricing{
        flex-direction: column;
        align-items: center;
    }

    .card{
        gap: 5px;
    }
}

@media (max-width: 520px) {
    .left-box{
        flex-direction: column;
    }
    .card{
        gap: 0px;
    }
}
