*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 98, 69);
    display: grid;
    padding: 4rem;
    gap: 2rem;
    grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item3 item4"
    ;
}

.item1, .item2, .item3{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item4{
    border: 5px solid black;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
        "item4-1 item4-1"
        "item4-2 item4-3"
    ;
}

.item4-1, .item4-2, .item4-3{
    justify-self: stretch;
    border: 3px solid rgb(52, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item4-1{
    grid-area: item4-1;
}

.item4-2{
    grid-area: item4-2;
}

.item4-3{
    grid-area: item4-3;
}
